/*Observação: depois tenho que voltar pra ver se faltou algo*/
.header-container {
    position: relative; 
    z-index: 1; 
    text-align: center;
}

.background-image {

    display: block; 
    height: 250px;
    width: 100%;
    position: relative; 
    z-index: 0; 
}

.title {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c9b4a9;
    border: none;
    background-color: #ffedf0;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer; 
    z-index: 10;
    text-align: center;
    height: 150px;
  }
.title h1{
  
    padding: 20px 40px;
    font-size: 60px;
  
}


.badges {
    display: flex;
    justify-content: center;
    gap: 15px;
    
}
.badge a {
    text-decoration: none;         
    color: #490909;                 
    font-weight: 600;
    font-size: 0.95rem;
    display: inline-block; 
}
.badge:hover a {
    color: #ffffff;               
}

.badge #S
{
    background-color: #D8E2DC;
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.badge #R
{
    background-color: #FFE5D9;
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.badge #L
{
    background-color: #F4ACB7;
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.badge #C
{
    background-color: #9D8189;
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}

