.header-container {
    position: relative; 
    text-align: center;
    width: 100%;
}

/* imagem de fundo */
.background-image {
    display: block; 
    height: 350px;
    width: 100%;
    position: relative;
    z-index: 0;
}

/* título no centro */
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fcf9f5;
    background-color: #ffedf0;
    border: none;
    border-radius: 50px;
    text-align: center;
    height: 150px;
    z-index: 10;
}

.title h1 {
    padding: 20px 40px;
    font-size: 70px;
    -webkit-text-stroke: 2px #ecb1b1;
    
}


.badges {
    position: absolute;
    bottom: 20px; /*só pra vc n esquecer: isso aqui deixa os botõeses em
    cima da imagem, obrigada de nada. Ass: Hanna do passado*/
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; 
    z-index: 15;
    gap: 300px;
}

/*fonte adicionada do meu mano google fontss*/



.badge a {
    text-decoration: none;         
    color: #9c4444;                 
    font-weight: 600;
    font-size: 1.4rem;
    border-radius: 30px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: 'Indie Flower', cursive;

}


#S { background-color: #D8E2DC; }
#R { background-color: #FFE5D9; }
#L { background-color: #F4ACB7; }
#C { background-color: #9D8189; }

.badge a:hover {
    color: #fff;
    background-color: white;
}

#logotype
{
    padding-left: 10px;
    padding-right: 10px;
}