

<div class="header-container">
    <button class="title"><h1>Sonia Laços e Mimos</h1></button>
    
    <img src="/fundo.PNG" alt="pastelcolor" class="background-image">

    <div class="badges">
        <div class="badge">
            <a routerLink="inicio" id="S">Sobre</a>
        </div>
        <div class="badge">
            <a routerLink="tiaras" id="R">Regras</a>
        </div>
        <!---->
       <div id="logotype"></div> <!--Logotipo, talvez uma estrela, não sei-->
        <!---->
        <div class="badge">
            <a routerLink="lacos" id="L">Loja</a>
        </div>
        <div class="badge">
            <a routerLink="contato" id="C">Contato</a>
        </div>
    </div>
</div>