<div class="header-container">

    <button class="title" routerLink="/">
        <img src="/sonicas.png" alt="Sonia Laços e Mimos" class="logo-btn">
    </button>
    
    <img src="/fundo.PNG" alt="pastelcolor" class="background-image">

    <div class="badges">
        <div class="badge">
            <a routerLink="/Sobre" id="S">Sobre</a>
        </div>
        <div class="badge">
            <a routerLink="/Loja" id="R">Loja</a>
        </div>

        <div id="logotype"></div>

        <div class="badge">
            <a routerLink="/Comunidade" id="L">Comunidade</a>
        </div>
        <div class="badge">
            <a routerLink="/Contato" id="C">Contato</a>
        </div>
    </div>
</div>