:host {
  display: block;
  background-color: #F4ACB7;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.comunidade-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.comunidade-content {
  padding: 40px;
  text-align: center;
}

.comunidade-content h1 {
  color: #9c4444;
  margin-bottom: 20px;
}

.comunidade-content p {
  color: #444;
  font-size: 1.1rem;
}