:host {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0; 
}

.card-conteudo {
    width: 90%; 
    max-width: 1250px;
    min-height: 500px;
    
    border-radius: 50px; 
    padding: 2.5rem; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;
    box-shadow: none !important; 
    background-color: #DDECE9;   
    color: #134e4a;
}

.titulo-grande { 
    font-family: var(--font-hand); 
    font-size: 3.2rem; 
    margin-bottom: 2rem; 
    text-align: center;
    line-height: 1;
}

.desc { 
    text-align: center; 
    font-size: 1.4rem; 
    max-width: 900px; 
    margin: 0 auto; 
    line-height: 1.8; 
    font-weight: 500;
}

.star-icon {
    font-size: 3rem;
    color: #115e59;
    opacity: 0.7;
    animation: spin 10s infinite linear;
}

.footer-text {
    margin-top: auto; 
    text-align: center; 
    opacity: 0.6; 
    padding-top: 3rem; 
    font-size: 0.9rem;
    font-weight: 600;
}


@media(max-width: 1024px){
    .card-conteudo {
        padding: 2rem;
        border-radius: 30px;
        min-height: auto;
        width: 95%; 
    }
    .titulo-grande { font-size: 2.8rem; }
    .desc { font-size: 1.1rem; }
}