<div class="cadastro-container">
    <div class="cadastro-card">
      <h2>Cadastro</h2>
  
      <form (ngSubmit)="cadastrar()">
  
        <div class="input-group">
          <label for="nome">Nome</label>
          <input
            id="nome"
            type="text"
            [(ngModel)]="nome"
            name="nome"
            required
          />
        </div>
  
        <div class="input-group">
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>
  
        <button class="login-button" type="submit">Cadastrar</button>
      </form>
  
      <a routerLink="/comunidade" class="link-login">Voltar ao login</a>
    </div>
  </div>
