:host {
    display: block;
    background-color: white;
    width: 100%;
    height: 100vh; 
  }

  
.container
{
    height: 100%;
    background-color: rgb(240, 162, 162);
    width: 1000px;
    justify-self: center;
    margin-top: 10px;
}

/*cor legal pra talvez mais tarde: rgb(236, 206, 206)*/