:host {
    display: block;
    background-image: url(../../../../public/Background.png);
    width: 100%;
    height: 90vh; 
    background-size: cover;
    background-repeat: no-repeat;
  }

  


/*cor legal pra talvez mais tarde: rgb(236, 206, 206)*/