
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;  /* ← mudei para min-height */
  background-image: url(/Background.png);  /* ← CAMINHO CORRETO */
  background-size: cover;
  background-repeat: no-repeat;
}

.postFixo {
  display: flex;
  width: 94%;
  height: 780px;
  background-color: rgba(255, 255, 255, 0.7);  /* ← corrigi a sintaxe do rgba */
  justify-content: center;
  border-radius: 30px;
}
